@import "./image.css";
@import "./form.css";
@import "./responsive.css";

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

html {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

body {
    background: linear-gradient(90deg, rgb(0, 26, 255), rgb(255, 0, 92));
    background-size: 400% 400%;
    animation: backgroundTransition 8s ease-in-out infinite;
}

main {
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
}

@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }

    50%{
        background-position: 80% 100%;
    }

    100%{
        background-position: 0% 90%;
    }
}